    <footer class="site-footer">
        <p>&copy; 2024 Compusle. All Rights Reserved.</p>
        <p><strong>Disclaimer: </strong> logo Icon from Canva, image used from Unsplash.</p>
    </footer>
    </body>
</html>