<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compluse Live chat App</title>
    <link rel="stylesheet" href="/styles.css">
        <link rel="icon" href="/images/noTextLogo.png" type="image/x-icon">
</head>
<body>
<header class="site-header">
    <img class="header-logo" src="/images/compulseLogo.png" alt="Compluse Logo">

    <div class="auth-links">
            <a href="/profile">View Profile</a>
            <a href="/chat">Live Chat</a>
            <a href="/dashboard">Admin Dashboard</a>
            <a href="/logout">Log Out</a>
    </div>

    </div>
</header>
