<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compluse Live chat App</title>
    <link rel="stylesheet" href="/styles.css">
        <link rel="icon" href="/images/noTextLogo.png" type="image/x-icon">
</head>
<body>
<header class="site-header">
    <img class="header-logo" src="/images/compulseLogo.png" alt="Compluse Logo">

    <div class="auth-links">
            <a href="/profile">View Profile</a>
            <a href="/livechat">Live Chat</a>
            <a href="/admin/dashboard">Admin Dashboard</a>

    </div>
    <div class="logout-links">
                    <a href="/logout">Logout</a>

    </div>
</header>
</body>
</html>