      <%- include('partials/header') %> 
      <main>
<div class="home-page">
    <section class="welcome-section-home">
      <div class="text-section text-section-banned">
        <h1>Account Restricted</h1>
        <p>
          Your account has been banned due to a violation of our community guidelines.
          If you believe this was a mistake, please contact our support team for assistance.
        </p>

      </div>

      <div class="image-section">
        <img src="/images/chatBubbleRed.png" alt="green chat bubble" class="chat-bubble">
        <img src="/images/homePic.jpg" alt="People using laptops" class="welcome-image">
      </div>
    </section>
  </div></main>
    <%- include('partials/footer') %>



