<%- include('partials/header') %>
<body>
    <div class="welcome-container">
        <div class="welcome-message">
            <img src="/images/compulseLogo.png" alt="Compulse Logo" class="welcome-logo">
            <h1>Welcome to Compulse</h1>
            <p>Our real-time chat application connects you instantly. Join now and start communicating seamlessly.</p>
        </div>
        <%- include('signup') %>
    </div>
</body>
</html>