<%- include('partials/header') %>

<main>
  <% if (isAuthenticated) { %>
  <p class="loggedInUsersNumber">
    Users Online: <%= loggedInUsers.length %>
  </p>
  <% } %>

  <div class="home-page">
    <section class="welcome-section-home">
      <div class="text-section">
        <h1>Welcome to Compulse</h1>
        <p>
          Your one-stop solution for real-time communication. Connect,
          collaborate, and communicate seamlessly.
        </p>

        <% if (!isAuthenticated) { %>
        <div class="cta-buttons">
          <a href="/signup" class="cta-button-1">Sign Up</a>
          <a href="/login" class="cta-button-2">Log In</a>
        </div>
        <% } else { %>
        <a href="/chat" class="cta-button-2">Live Chat</a>
        <% } %>
      </div>

      <div class="image-section">
        <img
          src="/images/homePic.png"
          alt="green chat bubble"
          class="chat-bubble" />
      </div>
    </section>
  </div>
</main>

<%- include('partials/footer') %>
