<%- include('partials/header') %>
<body>
    <div class="welcome-container">
        <div class="welcome-message">
            <img src="/images/compulseLogo.png" alt="Compulse Logo" class="welcome-logo">
            <h1>Welcome to Compulse</h1>
            <p>Our real-time chat application connects you instantly. Join now and start communicating seamlessly.</p>
        </div>
<div class="main-content-signup">
    <h1>Sign Up</h1>
    <form action="/signup" method="post" class="signup-form">

        <div class="form-input-container">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-input-container">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="action-button">Sign Up</button>
    </form>
    <p class="form-footer">
        Already have an account?&nbsp;
        <a href="/login" class="register-link">Log in!</a>
    </p>    </div>
</body>
</html>

</div>