* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/images/homeBg.png") no-repeat center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Stack content vertically */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  min-height: 100%;
}

.site-header {
  padding: 0 12px;
  display: flex;
  flex-direction: row; /* Stack logo and links vertically by default */
  align-items: center;
  justify-content: space-between;
  background-color: #efefef;
  color: #613060;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-logo {
  width: 100px;
  height: auto;
}

.site-header .auth-links,
.site-header .logout-links {
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.site-header a {
  color: #613060;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.site-header a:hover {
  background-color: #dcdbdb;
}

.site-header a:active {
  background-color: #b9b7b7;
}

@media (max-width: 768px) and (min-width: 500px) {
  .text-section {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    padding-right: 20px;
  }

  .text-section h1 {
    font-size: 36px;
    color: #613060;
  }

  .text-section p {
    text-align: center;
    font-size: 24px !important;
    margin: 15px 0;
    color: #613060;
  }

  .welcome-section-home {
    display: flex;
    flex-direction: column-reverse !important; /* Text and image side by side */
    align-items: center;
    width: 100%;
  }
  .site-header {
    display: flex;
    flex-direction: column !important;
    gap: 0 !important;
  }

  .site-header .auth-links,
  .site-header .logout-links {
    justify-content: space-evenly !important;
    width: 100% !important;
    font-size: small !important;
  }
}

@media (max-width: 500px) {
  .dashboard-header h1 {
    font-size: xx-large !important;
    padding: 10px 0;
  }
  .dashboard-header h2 {
    font-size: x-large !important;
    padding: 5px 0;
  }
  .admin-dashboard-container {
    padding: 2px !important;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 8px;
  }
  table {
    font-size: small;
  }

  /* Header in Chat */
  .chat-container .header {
    padding-left: 10px;
    font-size: small;
    background-color: #61306010;
    color: #613060;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text-section {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    padding-right: 20px;
  }

  .text-section h1 {
    font-size: 26px !important;
    color: #613060;
  }

  .text-section p {
    text-align: center;
    font-size: 18px !important;
    margin: 15px 0;
    color: #613060;
  }
  .welcome-section-home {
    display: flex;
    flex-direction: column-reverse !important; /* Text and image side by side */
    align-items: center;
    width: 100%;
  }
  .site-header {
    display: flex;
    flex-direction: column !important;
    gap: 0 !important;
  }
  .welcome-logo {
    width: 200px !important;
  }
  .main-content-signup {
    margin-top: 0 !important;
  }
  .welcome-container {
    display: flex; /* Side-by-side layout */
    flex-wrap: wrap; /* Ensures responsive layout */
    align-items: center;
    justify-content: center;
    gap: 0px !important;
    max-width: 350px !important;
    margin-top: 0 !important;
    padding: 20px;
    border-radius: 8px;
  }

  .welcome-message {
    flex: 1;
    text-align: center;
    padding: 0px !important;
    max-width: 340px !important;
  }

  .welcome-message h1 {
    font-size: 20px !important;
    margin-bottom: 10px !important;
    color: #000000 !important;
  }

  .welcome-message p {
    font-size: 13px !important;
    margin-bottom: 20px !important;
    color: #000 !important;
    line-height: 1.5 !important;
  }
  .welcome-message-login {
    flex: 1;
    text-align: center;
    padding: 0px !important;
    max-width: 340px !important;
  }

  .welcome-message-login h1 {
    font-size: 20px !important;
    margin-bottom: 10px !important;
    color: #000000 !important;
  }

  .welcome-message-login p {
    font-size: 13px !important;
    margin-bottom: 20px !important;
    color: #000 !important;
    line-height: 1.5 !important;
  }
}

/* Main content styles */
.main-content-signup {
  width: 500px;
  margin: 50px auto;
  background: #fff;
  padding: 20px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.main-content-signup h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
  color: #613060;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Welcome container */
.welcome-container {
  display: flex; /* Side-by-side layout */
  flex-wrap: wrap; /* Ensures responsive layout */
  align-items: center;
  justify-content: center;
  gap: 30px;
  max-width: 1100px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
}

/* Welcome message styling */
.welcome-message {
  flex: 1;
  text-align: center;
  padding: 20px;
  max-width: 400px;
}

.welcome-message h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #000000;
}

.welcome-message p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #000;
  line-height: 1.5;
}

/* Welcome message styling */
.welcome-message-login {
  flex: 1;
  text-align: center;
  padding: 20px;
  max-width: 500px;
}

.welcome-message-login h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #000000;
}

.welcome-message-login p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #000;
  line-height: 1.5;
}

.welcome-logo {
  max-width: 300px;
  margin-top: 20px;
}

.signup-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-input-container {
  display: flex;
  flex-direction: column;
}

.form-input-container label {
  margin-bottom: 5px;
  font-size: 16px;
  color: #613060;
}

.form-input-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form-input-container input:focus {
  border-color: #613060;
  outline: none;
}

.action-button {
  background-color: #613060;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #1d3446;
}

.action-button:active {
  background-color: #0f1d29;
}

.form-footer {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}

.register-link {
  color: #613060;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.register-link:hover {
  color: #1d3446;
}

/* Login container */
.login-container {
  width: 100%; /* Matches the width of the welcome message */
}

.login-container h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
  color: #613060;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
}

.form-input-container label {
  margin-bottom: 5px;
  font-size: 16px;
  color: #613060;
}

.form-input-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form-input-container input:focus {
  border-color: #613060;
  outline: none;
}

.action-button {
  background-color: #613060;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #1d3446;
}

.action-button:active {
  background-color: #0f1d29;
}

.form-footer {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}

.register-link {
  color: #613060;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.register-link:hover {
  color: #1d3446;
}

.welcome-image {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  border-radius: 10px;
}

.text-section {
  flex: 1;
  padding-right: 20px;
}

.text-section h1 {
  font-size: 36px;
  color: #030303;
}

.text-section p {
  font-size: 18px;
  margin: 15px 0;
  color: #613060;
}

.home-page {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: row; /* Arrange items side by side */
  justify-content: space-between;
  border-radius: 8px;
}

.welcome-section-home {
  display: flex;
  flex-direction: row; /* Text and image side by side */
  align-items: center;
  width: 100%;
}

.cta-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.cta-button {
  background-color: #010101;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #1d3446;
}

.cta-button:active {
  background-color: #0f1d29;
}

.image-section {
  flex: 1;
}

.welcome-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}

footer {
  width: 100%;
  background-color: #613060;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Header in Chat */
.chat-container .header {
  padding-left: 10px;
  background-color: #61306010;
  color: #613060;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Messages container */
.messages {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
  background-color: #f9f9f9;
  max-height: calc(
    100vh - 180px
  ); /* Adjusted to leave space for the header and form */
}

/* Form Styling */
#chat-form {
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#chat-form input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#chat-form button {
  width: 15%;
  padding: 10px;
  background-color: #538e55;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

#chat-form button:hover {
  background-color: rgb(59, 105, 61);
}

/* Profile Page Styles */
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-header h2 {
  font-size: 2rem;
  color: #613060;
}

/* Profile Image */
.profile-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  opacity: 0.2;
}

/* Profile Content */
.profile-content {
  text-align: left;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 20px;
}

.profile-details p {
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
}

.profile-details strong {
  color: #613060;
}

/* Profile Status */
.profile-status {
  font-size: 1.1rem;
  font-weight: 500;
  color: #333;
  margin-top: 10px;
}

/* Profile Actions */
.profile-actions {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.profile-button {
  padding: 10px 20px;
  background-color: #613060;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
}

.profile-button:hover {
  background-color: #613060;
}

.profile-button:active {
  background-color: #613060;
}

/* Admin Dashboard Styles */
.admin-dashboard-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 8px;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-header h1 {
  font-size: 2.5rem;
  color: #333;
}

/* User List Table */
.user-list {
  margin-top: 20px;
}

.user-list h2 {
  font-size: 1.8rem;
  color: #613060;
  margin-bottom: 15px;
}

.user-list table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-list table th,
.user-list table td {
  padding: 6px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user-list table th {
  background-color: #613060;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.user-list table tbody tr:hover {
  background-color: #f1f1f1;
}

.user-list table td:last-child {
  text-align: center;
}

/* Buttons */
.ban-button,
.remove-button {
  padding: 8px 12px;
  margin: 0 5px;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ban-button {
  background-color: #cbad54;
  color: white;
}

.ban-button:hover {
  background-color: #e0a800;
}

.remove-button {
  background-color: #aa444e;
  color: white;
}

.remove-button:hover {
  background-color: #c82333;
}
