* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/images/homeBg.png") no-repeat center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  flex-grow: 1;
  min-height: 100%;
}
.profile-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.site-header {
  padding: 0 12px;
  display: flex;
  flex-direction: row; /* Stack logo and links vertically by default */
  align-items: center;
  justify-content: space-between;
  background-color: #fffdfd;
  color: #613060;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-logo {
  width: 100px;
  height: auto;
}

.site-header .auth-links,
.site-header .logout-links {
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.site-header a {
  color: #613060;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.site-header a:hover {
  background-color: #dcdbdb;
}

.site-header a:active {
  background-color: #b9b7b7;
}

@media (max-width: 768px) and (min-width: 500px) {
  .image-section {
    position: relative;
    display: inline-block;
  }

  .chat-bubble {
    width: 550px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 0;
    opacity: 0.5;
  }

  .welcome-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    border-radius: 60px;
  }
  .text-section {
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }

  .text-section h1 {
    font-size: 36px;
    color: #613060;
  }

  .text-section p {
    text-align: center;
    font-size: 24px !important;
    margin: 15px 0;
    color: #613060;
  }

  .welcome-section-home {
    padding-top: 20px;
    display: flex;
    flex-direction: column-reverse !important; /* Text and image side by side */
    align-items: center;
    width: 100%;
  }
  .site-header {
    display: flex;
    flex-direction: column !important;
    gap: 0 !important;
  }

  .site-header .auth-links,
  .site-header .logout-links {
    justify-content: space-evenly !important;
    width: 100% !important;
    font-size: small !important;
  }
}

@media (max-width: 500px) {
  .image-section {
    position: relative;
    display: inline-block;
  }

  .chat-bubble {
    width: 300px !important;
  }

  .welcome-image {
    width: 70% !important;
    max-width: 270px !important;
  }

  .text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
    z-index: 2;
  }

  .dashboard-header h1 {
    font-size: xx-large !important;
    padding: 10px 0;
  }
  .dashboard-header h2 {
    font-size: x-large !important;
    padding: 5px 0;
  }
  .admin-dashboard-container {
    padding: 2px !important;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 8px;
  }
  table {
    font-size: small;
  }

  /* Header in Chat */
  .chat-container .header {
    padding-left: 10px;
    font-size: small;
    background-color: #61306010;
    color: #613060;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text-section {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    padding-right: 20px;
  }

  .text-section h1 {
    font-size: 26px !important;
    color: #613060;
  }

  .text-section p {
    text-align: center;
    font-size: 18px !important;
    margin: 15px 0;
    color: #613060;
  }
  .welcome-section-home {
    display: flex;
    flex-direction: column-reverse !important; /* Text and image side by side */
    /* align-items: center; */
    width: 100%;
  }
  .site-header {
    display: flex;
    flex-direction: column !important;
    gap: 0 !important;
  }
  .welcome-logo {
    width: 200px !important;
  }
  .main-content-signup {
    margin-top: 0 !important;
  }
  .welcome-container {
    display: flex; /* Side-by-side layout */
    flex-wrap: wrap; /* Ensures responsive layout */
    align-items: center;
    justify-content: center;
    gap: 0px !important;
    max-width: 350px !important;
    margin-top: 0 !important;
    padding: 20px;
    border-radius: 8px;
  }

  .welcome-message {
    flex: 1;
    text-align: center;
    padding: 0px !important;
    max-width: 340px !important;
  }

  .welcome-message h1 {
    font-size: 20px !important;
    margin-bottom: 10px !important;
    color: #000000 !important;
  }

  .welcome-message p {
    font-size: 13px !important;
    margin-bottom: 20px !important;
    color: #000 !important;
    line-height: 1.5 !important;
  }
  .welcome-message-login {
    flex: 1;
    text-align: center;
    padding: 0px !important;
    max-width: 340px !important;
  }

  .welcome-message-login h1 {
    font-size: 20px !important;
    margin-bottom: 10px !important;
    color: #000000 !important;
  }

  .welcome-message-login p {
    font-size: 13px !important;
    margin-bottom: 20px !important;
    color: #000 !important;
    line-height: 1.5 !important;
  }
}

/* Main content styles */
.main-content-signup {
  width: 500px;
  margin: 50px auto;
  background: #fff;
  padding: 20px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.main-content-signup h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
  color: #613060;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Welcome container */
.welcome-container {
  display: flex; /* Side-by-side layout */
  flex-wrap: wrap; /* Ensures responsive layout */
  align-items: center;
  justify-content: center;
  gap: 30px;
  max-width: 1100px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
}

/* Welcome message styling */
.welcome-message {
  flex: 1;
  text-align: center;
  padding: 20px;
  max-width: 400px;
}

.welcome-message h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #000000;
}

.welcome-message p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #000;
  line-height: 1.5;
}

/* Welcome message styling */
.welcome-message-login {
  flex: 1;
  text-align: center;
  padding: 20px;
  max-width: 500px;
}

.welcome-message-login h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #000000;
}

.welcome-message-login p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #000;
  line-height: 1.5;
}

.welcome-logo {
  max-width: 300px;
  margin-top: 20px;
}

.signup-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-input-container {
  display: flex;
  flex-direction: column;
}

.form-input-container label {
  margin-bottom: 5px;
  font-size: 16px;
  color: #613060;
}

.form-input-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form-input-container input:focus {
  border-color: #613060;
  outline: none;
}

.action-button {
  background-color: #613060;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #1d3446;
}

.action-button:active {
  background-color: #0f1d29;
}

.form-footer {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}

.register-link {
  color: #613060;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.register-link:hover {
  color: #1d3446;
}

/* Login container */
.login-container {
  width: 100%; /* Matches the width of the welcome message */
}

.login-container h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
  color: #613060;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
}

.form-input-container label {
  margin-bottom: 5px;
  font-size: 16px;
  color: #613060;
}

.form-input-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form-input-container input:focus {
  border-color: #613060;
  outline: none;
}

.action-button {
  background-color: #613060;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #1d3446;
}

.action-button:active {
  background-color: #0f1d29;
}

.form-footer {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}

.register-link {
  color: #613060;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.register-link:hover {
  color: #1d3446;
}

.welcome-image {
  width: 100%;
  height: 100%;
  max-width: 600px;
  margin-top: 20px;
  border-radius: 10px;
}

.text-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.text-section h1 {
  font-size: 36px;
  color: #030303;
}

.text-section p {
  font-size: 22px;
  margin: 10px 0;
  color: #613060;
}

.home-page {
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
}

.welcome-section-home {
  display: flex;
  flex-direction: row; /* Text and image side by side */
  /* align-items: center; */
  width: 100%;
}

.cta-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.cta-button-1 {
  background-color: #613060;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button-1:hover {
  background-color: #3f1f3f;
}

.cta-button-1:active {
  background-color: #1c0e1c;
}

.cta-button-2 {
  background-color: #a3c14a;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button-2:hover {
  background-color: #718633;
}

.cta-button-2:active {
  background-color: #333c17;
}

.image-section {
  flex: 1;
}

.welcome-image {
  width: 100%;
  height: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}

footer {
  width: 100%;
  background-color: #613060;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Header in Chat */
.chat-container .header {
  padding-left: 10px;
  background-color: #61306010;
  color: #613060;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Messages container */
.messages {
  flex-grow: 1;
  /* padding: 15px; */
  overflow-y: auto;
  background-color: #f9f9f9;
  max-height: calc(
    100vh - 180px
  ); /* Adjusted to leave space for the header and form */
}

/* Form Styling */
#chat-form {
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#chat-form input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#chat-form button {
  width: 15%;
  padding: 10px;
  background-color: #538e55;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

#chat-form button:hover {
  background-color: rgb(59, 105, 61);
}

/* Profile Page Styles */
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-header h2 {
  font-size: 2rem;
  color: #613060;
}

/* Profile Image */
.profile-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  opacity: 0.2;
}

/* Profile Content */
.profile-content {
  text-align: left;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 20px;
}

.profile-details p {
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
}

.profile-details strong {
  color: #613060;
}

/* Profile Status */
.profile-status {
  font-size: 1.1rem;
  font-weight: 500;
  color: #333;
  margin-top: 10px;
}

/* Profile Actions */
.profile-actions {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.profile-button {
  padding: 10px 20px;
  background-color: #613060;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
}

.profile-button:hover {
  background-color: #613060;
}

.profile-button:active {
  background-color: #613060;
}

/* Admin Dashboard Styles */
.admin-dashboard-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 8px;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-header h1 {
  font-size: 2.5rem;
  color: #333;
}

/* User List Table */
.user-list {
  margin-top: 20px;
}

.user-list h2 {
  font-size: 1.8rem;
  color: #613060;
  margin-bottom: 15px;
  text-align: center;
}

.user-list table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.user-list table th,
.user-list table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 1rem;
}

.user-list table th {
  background-color: #613060;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.user-list table tbody tr:hover {
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
}

.user-list table td:last-child {
  text-align: center;
}

@media (max-width: 500px) {
  .user-list table {
    width: 350px !important;
  }
  .user-list table th {
    font-size: small !important;
    padding: 8px;
  }
  .user-list table td {
    padding: 8px;
  }
  .user-list table td:last-child {
    text-align: center;
  }

  .user-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

/* Buttons (in table rows) */
.ban-button,
.remove-button {
  padding: 10px 16px;
  margin: 0 5px;
  font-size: 0.9rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block; /* Make buttons sit side by side */
  text-align: center;
}

.ban-button {
  background-color: #cbad54;
  color: white;
  font-weight: bold;
}

.ban-button:hover {
  background-color: #e0a800;
}

.remove-button {
  background-color: #aa444e;
  color: white;
  font-weight: bold;
}

.remove-button:hover {
  background-color: #c82333;
}

/* Button Container Styling */
.user-actions {
  display: flex;
  justify-content: center;
  gap: 15px; /* Adds space between buttons */
}

.user-actions a {
  text-decoration: none;
}

/* Success/Error Message Styling */
.success,
.error {
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}

.logout-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Heading style */
.logout-container h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

/* Paragraph styling */
.logout-container p {
  font-size: 1rem;
  margin-bottom: 30px;
  color: #555;
}

/* Logout button */
.logout-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #613060; /* Red color for danger */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #c9302c; /* Darker red on hover */
}

/* Cancel link */
.cancel-link {
  display: inline-block;
  margin-top: 20px;
  font-size: 1rem;
  color: #613060; /* Blue for cancel link */
  text-decoration: none;
  transition: color 0.3s ease;
}

.cancel-link:hover {
  color: #361b35; /* Darker blue on hover */
}

/* Mobile responsiveness */
@media (max-width: 500px) {
  .image-section {
    flex: 0;
  }

  .logout-container {
    padding: 15px;
  }

  .logout-container h1 {
    font-size: 1.5rem;
  }

  .logout-container p {
    font-size: 0.9rem;
  }

  .logout-button {
    width: 100%; /* Full-width button */
  }

  .cancel-link {
    display: block;
    margin-top: 15px;
    font-size: 0.9rem;
  }
}

/* CSS talk bubble */
.talk-bubble {
  margin: 40px;
  display: inline-block;
  position: relative;
  width: 200px;
  height: auto;
  background-color: lightyellow;
}
.border {
  border: 8px solid #666;
}
.round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow transparent transparent lightyellow;
}

.image-section {
  position: relative;
  display: inline-block;
}

.chat-bubble {
  position: relative;
  width: 550px;
  height: auto;
  padding: 20px;
  border-radius: 30px;
  z-index: 0;
  opacity: 0.3;
}

.welcome-image {
  position: absolute;
  top: 10px;
  left: 20px;
  right: 20px;
  width: 80%;
  height: auto;
  border-radius: 15%; /* Make the image round if desired */
  z-index: 1; /* Place behind text in the chat bubble */
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.loggedInUsersNumber {
  width: 150px;
  height: 40px;
  /* background-color: #613060; */
  background-color: #a3c14a;
  color: white;
  margin: 0;
  padding-left: 12px;
  padding-top: 12px;
  border-radius: 0px 0px 10px 0px;
}

.success {
  color: green;
}

.error {
  color: red;
}

/* General button style */
.ban-button {
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.ban {
  background-color: rgb(202, 170, 12);
  color: white;
}

.lift-ban {
  background-color: rgb(48, 130, 48);
  color: white;
}

.ban-button:hover {
  opacity: 0.8;
}

.chat-page {
  max-width: 1000px;
  margin: 0px auto;
  padding: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
}
.welcome-section-chat {
  padding-top: 40px;
  display: flex;
  flex-direction: column-reverse !important; /* Text and image side by side */
  align-items: center;
  width: 100%;
}

.text-chat-section {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

.text-chat-section h1 {
  font-size: 36px;
  color: #613060;
}

.text-chat-section p {
  text-align: center;
  font-size: 24px !important;
  margin: 15px 0;
  color: #613060;
}

.not-Authorized-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 15px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.members-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.member-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

.member-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 250px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.member-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.member-link {
  text-decoration: none;
  color: inherit;
}

.profile-pic {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
  object-fit: cover;
}

.member-card h4 {
  font-size: 1.2em;
  margin-top: 10px;
  color: #333;
}

.edit-profile-form {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  font-family: Arial, sans-serif;
}

.edit-profile-form h3 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #333;
  text-align: center;
}

.edit-profile-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.edit-profile-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.edit-profile-form button:hover {
  background-color: #218838;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .edit-profile-form {
    max-width: 90%;
    padding: 15px;
  }

  .edit-profile-form h3 {
    font-size: 18px;
  }

  .edit-profile-form input {
    font-size: 13px;
    padding: 8px;
  }

  .edit-profile-form button {
    font-size: 15px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .edit-profile-form {
    max-width: 100%;
    margin: 10px;
    padding: 10px;
  }

  .edit-profile-form h3 {
    font-size: 16px;
  }

  .edit-profile-form input {
    font-size: 12px;
    padding: 7px;
  }

  .edit-profile-form button {
    font-size: 14px;
    padding: 7px;
  }
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 16px;
  resize: none;
}

.system-message {
  color: #613060;
  font-style: italic;
  text-align: left;
  margin: 10px 0;
  background-color: #ddd7e2;
}

.message {
  margin: 5px 0;
  padding: 15px;
  background-color: #f7f7f7;
  color: #613060;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.message p {
  color: #000000;
}

.online-users {
  padding: 10px;
  margin: 10px;
  color: #613060;
  border: 1px solid #613060;
  font-weight: bold;
}

.chat-content {
  padding: 10px;
}


/* Banned Page Styles */
.banned-page {
  max-width: 900px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.banned-section {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.text-section-banned h1{
  color: #721c24;
}

.text-section-banned p{
  color: #0b0b0b;
}


 #toggle-messages-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  #toggle-messages-btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }

  #toggle-messages-btn:active {
    background-color: #388e3c;
    transform: scale(0.98);
  }